In [7]:
import streamlit as st
import numpy as np
import pandas as pd

In [9]:
df = pd.DataFrame(
    np.random.rand(100, 2)/[50, 50] + [35.69, 139.70],
    columns=['a','b']
)
df

           a         b
0   0.052396  0.378766
1   0.877039  0.810927
2   0.163923  0.196044
3   0.697756  0.660217
4   0.061757  0.122060
..       ...       ...
95  0.733722  0.282414
96  0.332399  0.460089
97  0.424380  0.862105
98  0.767538  0.444782
99  0.822233  0.051050

[100 rows x 2 columns]